{% extends 'squeleton.html' %}

{% block title %}
    <title>Liste de ticket</title>
{% endblock title %}

{% block content %}
    <p>Flux</p>
    {% for element in flux_elements %}
        {% comment %}
            element is either a review
        {% endcomment %}
        {% if element.review %}
            {% with rev=element.review %}
            <div class="review">
                {% if request.user == rev.user %}
                    <p>Vous avez publié une critique</p>
                {% else %}
                    <p>{{ rev.user }} a publié une critique</p>
                {% endif %}
                <p>{{ rev.time_created }}</p>
                <p>{{ rev.headline }} - {{ rev.rating }}</p>
                {% comment %}
                    containing a ticket
                {% endcomment %}
                <div class="ticket_review">
                    {% include 'reviewer/detail_ticket.html' with ticket=rev.ticket %}
                </div>
                {% if element.button == 'create' %}
                    <a href="{% url 'reviewer:create_review' rev.ticket_id %}">Créer une critique</a>
                {% elif element.button == 'modify' %}
                    <a href="{% url 'reviewer:update_review' rev.id %}">Modifier</a>
                {% endif %}
            </div>
            {% endwith %}

        {% comment %}
            or element is a ticket
        {% endcomment %}
        {% else %}
            {% with ticket=element.ticket%}
            <div class="ticket">
                {% if request.user == ticket.user %}
                    <p>Vous avez demandé une critique</p>
                {% else %}
                    <p>{{ ticket.user }} a demandé une critique</p>
                {% endif %}
                <p>{{ ticket.time_created }}</p>
                <p>{{ ticket.title }} - {{ ticket.rating }}</p>
                {% if element.button == 'create' %}
                    <a href="{% url 'reviewer:create_review' ticket.id %}">Modifier</a>
                {% elif element.button == 'modify' %}
                    <a href="{% url 'reviewer:update_ticket' ticket.id %}">Modifier</a>
                {% endif %}
            </div>
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endblock content %}

