{% extends 'squeleton.html' %}

{% block title %}
    <title>Liste de ticket</title>
{% endblock title %}

{% block content %}
    <p>Liste de ticket</p>
    <table>
        <thead>
            <th>Titre</th>
            <th>Description</th>
        </thead>
        <tbody>
        {% for ticket in object_list %}
            <tr>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}

