{% extends 'squeleton.html' %}

{% block title %}
    <title>Liste de ticket</title>
{% endblock title %}

{% block content %}
    <p>Flux</p>
    {% for element in flux_elements %}
        {% comment %}
            element is either a review containing a ticket
        {% endcomment %}
        {% if element.review %}
            {% with rev=element.review %}
            <div class="review">
                {% if request.user == rev.user %}
                    <p>Vous avez publié une critique</p>
                {% else %}
                    <p>{{ rev.user }} a publié une critique</p>
                {% endif %}
                {% include 'reviewer/detail_review.html' with review=rev %}
                {% block review_button %}
                {% endblock %}
            </div>
            {% endwith %}

        {% comment %}
            or element is a ticket
        {% endcomment %}
        {% else %}
            {% with ticket=element.ticket%}
            <div class="ticket">
                {% if request.user == ticket.user %}
                    <p>Vous avez demandé une critique</p>
                {% else %}
                    <p>{{ ticket.user }} a demandé une critique</p>
                {% endif %}
                {% include 'reviewer/detail_ticket.html' with ticket=ticket %}
                {% block ticket_button %}
                {% endblock %}
            </div>
            {% endwith %}
        {% endif %}
        <br>
        
    {% endfor %}
{% endblock content %}

